<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="GESTION_DIRECTIVAEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TOSHIBA\ARCHITECT;initial catalog=DB_INNOVASCHOOLS;persist security info=True;user id=sa;password=Itsgonnabeme7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DB_INNOVASCHOOLSEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TOSHIBA\ARCHITECT;initial catalog=DB_INNOVASCHOOLS;persist security info=True;user id=sa;password=Itsgonnabeme7;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>